.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #b3b3b3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #1ed760;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
  font-weight: 600;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 1rem 0;
  line-height: 1.5;
  font-size: 1.25rem;
  color: #0a0a0a;
}

.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 1rem;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  margin-left: 1rem;
}

.card {
  display: flex;
  margin: 1rem;
  padding: 1rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #b3b3b3;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: max-content;
  height: auto;
}

.card:hover,
.card:focus,
.card:active {
  color: #1ed760;
  border-color: #1ed760;
}

.card h2 {
  margin: 0 0 0.5rem 0;
  font-size: 1.5rem;
  font-weight: 600;
  color: #0a0a0a;
}

.card p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  color: #535353;
}

@media (max-width: 600px) {
  .main {
    padding: 2.5rem 0;
  }

  .title {
    font-size: 2.5rem;
  }

  .description {
    margin: 1.5rem;
  }

  .grid {
    margin-top: 0;
    width: 100%;
    flex-direction: column;
  }
}
